<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.aisc.business.mapper.sys.log.OperationLogMapper" >
  <resultMap id="BaseResultMap" type="cc.aisc.business.model.sys.log.OperationLog" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="obj_id" property="objId" jdbcType="CHAR" />
    <result column="usr_id" property="usrId" jdbcType="CHAR" />
    <result column="op_ts" property="opTs" jdbcType="BIGINT" />
    <result column="op_tp" property="opTp" jdbcType="INTEGER" />
    <result column="ts" property="ts" jdbcType="BIGINT" />
    <result column="ds" property="ds" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, obj_id, usr_id, op_ts, op_tp, ts, ds
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from opts_log
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from opts_log
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cc.aisc.business.model.sys.log.OperationLog" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into opts_log (id, obj_id, usr_id, op_ts,
    op_tp, ts, ds)
    values (#{id,jdbcType=CHAR}, #{objId,jdbcType=CHAR}, #{usrId,jdbcType=CHAR}, #{opTs,jdbcType=BIGINT},
    #{opTp,jdbcType=INTEGER}, #{ts,jdbcType=BIGINT}, #{ds,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="cc.aisc.business.model.sys.log.OperationLog" >
    <selectKey resultType="java.lang.String" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into opts_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null">
        id,
      </if>
      <if test="objId != null" >
        obj_id,
      </if>
      <if test="usrId != null" >
        usr_id,
      </if>
      <if test="opTs != null" >
        op_ts,
      </if>
      <if test="opTp != null" >
        op_tp,
      </if>
      <if test="ts != null" >
        ts,
      </if>
      <if test="ds != null" >
        ds,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id!=null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="objId != null" >
        #{objId,jdbcType=CHAR},
      </if>
      <if test="usrId != null" >
        #{usrId,jdbcType=CHAR},
      </if>
      <if test="opTs != null" >
        #{opTs,jdbcType=BIGINT},
      </if>
      <if test="opTp != null" >
        #{opTp,jdbcType=INTEGER},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=BIGINT},
      </if>
      <if test="ds != null" >
        #{ds,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cc.aisc.business.model.sys.log.OperationLog" >
    update opts_log
    <set >
      <if test="objId != null" >
        obj_id = #{objId,jdbcType=CHAR},
      </if>
      <if test="usrId != null" >
        usr_id = #{usrId,jdbcType=CHAR},
      </if>
      <if test="opTs != null" >
        op_ts = #{opTs,jdbcType=BIGINT},
      </if>
      <if test="opTp != null" >
        op_tp = #{opTp,jdbcType=INTEGER},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=BIGINT},
      </if>
      <if test="ds != null" >
        ds = #{ds,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.aisc.business.model.sys.log.OperationLog" >
    update opts_log
    set obj_id = #{objId,jdbcType=CHAR},
    usr_id = #{usrId,jdbcType=CHAR},
    op_ts = #{opTs,jdbcType=BIGINT},
    op_tp = #{opTp,jdbcType=INTEGER},
    ts = #{ts,jdbcType=BIGINT},
    ds = #{ds,jdbcType=SMALLINT}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>